<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cn"
            connectionString="Data Source=.;Initial Catalog=CafeDB;Integrated Security=True"
             />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
<!--CapaPresentacion.Properties.Settings.CafeDBConnectionString-->
<!--providerName="System.Data.SqlClient"-->