<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cn" connectionString="Data Source=.;Initial Catalog=CafeDB;Integrated Security=True" />
        <add name="CapaPresentacion.Properties.Settings.CafeDBConnectionString"
            connectionString="Data Source=ERICK_REYES_PC;Initial Catalog=CafeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CafeDBConnectionString" connectionString="XpoProvider=MSSqlServer;data source=ERICK_REYES_PC;integrated security=SSPI;initial catalog=CafeDB" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>
<!--CapaPresentacion.Properties.Settings.CafeDBConnectionString-->
<!--providerName="System.Data.SqlClient"-->